{% extends "layout.html" %}
{% block body %}
<!-- START INDEX.HTML -->
<div class="jumbotron">
	<p>The Bargaining Protocol is a generalization<br/> of the Payment Protocol (BIP70)<br/>which allows prices negotiation</p>
	<div class="spacer10"></div>
	<h2>Trust-free negotiation</h2>
	<p class="lead">At every step, the seller is assured<br/>that the buyer owns the  funds to cover the pledges</p>
	<div class="spacer10"></div>
	<h2>Provable negotiation</h2>
	<p class="lead">Messages form a chain of signatures which ensures<br/>that the terms of the negotiation can't be forged</p>
	<div class="spacer10"></div>
	<p><a class="btn btn-lg btn-success" href="feedthewallet" role="button">Start the demo</a></p>
</div>
<!-- END INDEX.HTML -->
{% endblock %}